<launch>
    <node pkg="foobar" type="cloud_extract_one_ring" name="extract_onering">
    </node>
    <node pkg="foobar" type="odom_to_tf" name="odom_to_tf">
    </node>

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <param name="use_inf" value="true"/>
        <param name="use_concurrency" value="true"/>

        <param name="target_frame" value="velodyne"/>
	<param name="angle_min" value="-3.14159"/>
	<param name="angle_max" value="3.14159"/>
	<param name="min_height" value="-1"/>
	<param name="max_height" value="1"/>
	<param name="scan_time" value="0.1"/>
	<param name="angle_increment" value="0.00349065555"/>
	<param name="range_min" value="0.1"/>
	<param name="range_max" value="50"/>
	
	
	<!--
	<param name="target_frame" value="base_link"/>
        -->
	<!--<remap from="cloud_in" to="$(arg camera)/depth_registered/points_processed"/>-->
	<remap from="cloud_in" to="onering_points"/>
        <remap from="scan" to="onering_laserscan"/>

    </node>

<node name="map_server" pkg="map_server" type="map_server" args="/home/ubuntu/map.yaml"/>
<node pkg="amcl" type="amcl" name="amcl" respawn="true">
<remap from="scan" to="onering_laserscan"/>
<param name="base_frame_id" value="velodyne"/>
<param name="initial_pose_x" value="0.0" /> 
<param name="initial_pose_y" value="0.0" />
<param name="initial_pose_a" value="0.0" />
<param name="odom_model_type" value="diff"/>
<param name="odom_frame_id" value="odom"/>
<param name="min_particles" value="100"/>
<param name="max_particles" value="1000"/>
<param name="update_min_d" value="0.05"/>
<param name="update_min_a" value="0.0872"/>
</node>

</launch>
