<launch>
<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
<rosparam>
odom_frame: odom
map_update_interval: 5.0
maxUrange: 5.5
maxRange: 5.5
particles: 80
xmin: -1.0
ymin: -15.0
xmax: 18.0
ymax: 15.0
delta: 0.025
base_frame: laser
minimumScore: 50
linearUpdate: 0.2
angularUpdate: 0.25
temporalUpdate: 5.0
</rosparam>
</node>
</launch>

